.cadastro {
  display: grid;
  grid-template-columns: 49.5% 1% 49.5%;
  margin-top: 5vh;
  margin-bottom: 8vh;
  padding-left: 4vw;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  height: auto;
  font-size: 1.5vw;
}

.botoes_inputs {
  margin-top: 105px;
}
.apelidoRuaNumero > div {
  display: grid;
  grid-template-columns: 22vw 22vw;
}

.apelidoRuaNumero > div > input {
  width: 16vw;
  height: 2.2vw;
  margin-top: -1vh;
  color: #58595b;
  padding-left: 0.5vw;
}

.apelidoRuaNumero > div > p {
  margin-top: 1vh;
  font-size: 1em;
}

.inputRuaCidade {
  width: 16vw;
  height: 2.2vw;
}

.textNumeroUF {
  margin-left: 8vw;
}
.inputNumeroUF {
  width: 7.5vw !important;
  margin-left: 8vw;
}

.inputEmailSenhaPergunta > input {
  width: 37.5vw;
  height: 2.2vw;
  margin-top: -1vh;
  /* Altera o estilo da fonte escrita dentro do input */
  color: #58595b;
  padding-left: 0.5vw;
}

.inputEmailSenhaPergunta > p {
  margin-top: 1vh;
  font-size: 1em;
}

.botaoCadastrar {
  display: grid;
  grid-template-columns: 23vw 20vw;
  margin-top: 2vh;
}
.botaoCadastrar > div > button {
  background-color: #ccb0a5;
  border: none;
  text-decoration: none;
  cursor: pointer;
  border-radius: 80px;
  width: 9vw;
  height: 2.5vw;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #58595b;
  font-size: 1.4vw;
  font-weight: bold;
  margin-top: 2vh;
}

.botaoCadastrar > div {
  margin-top: 1.5vh;
  margin-bottom: 2vh;
}
.botaoCadastrar > div > p {
  font-size: 1vw;
  line-height: 4px;
}
.botaoCadastrar > div > button:active {
  position: relative;
  top: 5px;
  box-shadow: none;
}

.perguntaLogin {
  text-decoration: none;
  text-align: right;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.perguntaLogin > p:hover {
  color: rgb(151, 128, 118);
}
.perguntaLogin > p {
  color: #ccb0a5;
  font-size: 1vw;
  line-height: 4px;
}
.perguntaLogin:active {
  position: relative;
  top: 2px;
  text-shadow: none;
}
.linhaCentro {
  display: grid;
  justify-content: center;
  align-items: center;
}
.linhaCentro > img {
  width: 2px;
  height: 85vh;
  margin-top: 15vh;
  margin-right: 3vw;
}

.logoCadastro {
  display: grid;
  justify-content: center;
  align-self: center;
  margin-top: 8vh;
}

.logoCadastro > img {
  height: 35vw;
}

/* Remover setas no input do numero */
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}

@media (max-width: 768px) {
  .cadastro {
    font-size: 2vw;
  }
  .linhaCentro > img {
    height: 70vh;
  }
  .botaoCadastrar > div > button {
    height: 5vh;
    width: 11vw;
    font-size: 1.8vw;
  }
  .botaoCadastrar > div > p {
    font-size: 1.5vw;
  }
  .perguntaLogin > p {
    font-size: 1.5vw;
  }
  .inputEmailSenhaPergunta > input {
    height: 4vh;
  }
  .apelidoRuaNumero > div > input {
    height: 4vh;
  }
  .fraseCadastro {
    padding-left: 0px;
  }
}
@media (max-width: 538px) {
  .cadastro {
    margin-top: 30vw;
    height: 90vh;
    grid-template-columns: none;
    grid-template-rows: 25% 25%;
    font-size: 3.5vw;
  }
  .botoes_inputs {
    margin-top: 0px;
    padding-right: 10vw;
  }
  .apelidoRuaNumero > div {
    display: grid;
    grid-template-columns: 30vw 20vw;
    column-gap: 13vw;
  }
  .apelidoRuaNumero > div > input {
    width: 35vw;
    height: 5vw;
  }
  .fraseCadastro {
    width: 35vw;
    line-height: normal;
  }
  .textNumeroUF {
    margin-left: 15vw;
  }
  .inputNumeroUF {
    width: 15vw !important;
    margin-left: 17vw;
  }
  .inputEmailSenhaPergunta > input {
    width: 75vw;
    height: 5.5vw;
  }
  .botaoCadastrar > div > button {
    width: 20vw;
    height: 6vw;
    font-size: 1em;
  }
  .botaoCadastrar > div {
    margin-top: 0vh;
  }
  .botaoCadastrar > div > p {
    font-size: 3vw;
    width: max-content;
    padding-left: 20vw;
    margin-top: 3vw;
  }
  .linhaCentro > img {
    display: none;
  }
  .perguntaLogin > p {
    font-size: 3vw;
    width: max-content;
    justify-self: right;
    margin-left: 17vw;
  }

  .logoCadastro {
    padding-bottom: 10vh;
    padding-right: 5vh;
    grid-row: 1;
  }
  .logoCadastro > img {
    height: 45vh;
  }
}

@media (max-width: 375px) {
  .cadastro {
    margin-top: 25vh;
  }
  .fraseCadastro {
    width: 45vw;
    margin-left: -5vw;
  }
}
