.login {
    background-color: #ECEEED;
    
    display: grid;
    justify-content: center;
    height: 700px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        'areaDaEsquerda areaDaDireita';
}

.areaDaEsquerda {
    background-color: #ECEEED;
    display: grid;
    grid-area: areaDaEsquerda;
    height: 400px;
    justify-content: center;
    align-items: center;
    padding-top: 90px;
    grid-template-areas:
        'areaDosInputs'
        'areaBotao';
    
}
.areaDosInputs {
    display: grid;
    grid-area: areaDosInputs;
    justify-content: center;
    align-content: center;
    row-gap: 30px;
    grid-template-areas:
        'inputEmail'
        'inputSenha';

}

.areaBotao {
    display: grid;
    align-items: center;
    grid-area: areaBotao;
    grid-template-areas: 'botaoSubmit semLogin';
}

a {
    color: #CCB0A5;
    cursor: pointer;
}

input {
    border: 1px solid black;
    border-radius: 80px;
    width: 432px;
    height: 29px;
}

button {
    background-color: #CCB0A5;
    cursor:pointer;
    border: none;
    border-radius: 80px;
    width: 104px;
    height: 35px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-items: center;
    font-family: "Montserrat", sans-serif;
    color: #58595B;
    font-size: 18px;
    font-weight: 900;    
}

.inputEmail {
    display: grid;
    grid-area: inputEmail;
}

.inputSenha {
    display: grid;
    grid-area: inputSenha;
}

.botaoSubmit {
    display: grid;
    grid-area: botaoSubmit;
}

.semLogin {
    display: grid;
    grid-area: semLogin;
    font-family: "Montserrat", sans-serif;  
    justify-content: center;
    color: #58595B;
    font-size: 12px;
    font-weight: 900;
}

.logo {
    display: grid;
    align-content: center;
    height: 200px;
} 

.areaDaDireita {
    background-color: #ECEEED;
    border-left: solid #58595B 3px;
    height: 400px;
    margin-top: 100px;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-area: areaDaDireita;
    grid-template-areas:'logo';
}