p {
    padding-left: 15px;
    font-family: Montserrat, sans-serif;
    color: #58595B;
    font-weight: bolder;
    font-size: 1.9rem;
    line-height: 2.8rem;
    display: flex;
    align-items: center;
}