p {
    padding-left: 15px;
    font-family: Montserrat, sans-serif;
    color: #58595B;
    font-weight: bolder;
    line-height: 2.0vw;
    display: flex;
    align-items: center;
}

@media(max-width: 425px) {
    p {
        font-size: 3vw;
    }
}