#Home{
    text-align: center;
}

#Sobre{
    text-align: center;
}

#up{
    text-align: center;
}

#Importancia{
    text-align: center;
}

#mid{
    text-align: center;
}

#Share{
    text-align: center;
}

#low{
    text-align: center;
}

