
.footer {
  /* Vou ter meus elementos dispostos em coluna*/
  display: grid;
  grid-area: 'footer';
  grid-template-areas: 'top-box';
  align-items: flex-end;
  align-self: end;
}

.top-box {
  display: grid;
  grid-area: 'top-box';
  height: 30vh;
  width: 98.7vw;
  align-items: center;
  grid-template-areas: 'logo navegue contatos';
  grid-template-columns: 1fr 3fr 3fr;
  box-shadow:
    inset 0 -1px 10px rgb(255, 255, 255),
    inset 0 1px 10px rgb(0, 0, 0);
  font-size: 16px;
  background-color: #a2a3a6;
}

.logoFooter {
  height: 30vh;
}

.navegue {
  display: grid;
  grid-area: 'navegue';
  justify-items:center;
  width: 35vw;
  height: 25vh;
  border-right: solid #58595B 0.2vw;
  grid-template-areas: 
  'titulo'
  'areaNavigation' ;

}

.tituloNav {
  font-family: 'Montserrat', sans-serif;
  color: #58595b;
  padding-right: 8vw;
  justify-self: center;
  font-size: 2vw;
  font-weight: bold;
}

.areaNavigation {
  display: grid;
  grid-area: 'areaNavigation';
  grid-template-areas: 'home livros usuarios';
  grid-auto-columns: 8vw;
  width: 30vw;
  padding-bottom: 3vh;
}

.home {
  text-decoration: none;
  justify-content: center;
  padding-left: 0.5vw;
  padding-bottom: 0.9vw;
  height: 2vw;
  border-right: 2px solid #facdbb;
}

.livros {
  text-decoration: none;
  justify-content: center;
  align-content: center;
  padding-left: 0.5vw;
  padding-bottom: 0.9vw;
  height: 2vw;
  border-right: 2px solid #facdbb;
}

.usuarios {
  text-decoration: none;
  justify-content: center;
  padding-left: 0.9vw;
  height: min-content;
}

.navigation {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5vw;
  font-weight: bolder;
  line-height: 0px;
  color: #facdbb;
}

.navigation:hover {
  color: #facdbb8f;
}

.contatos {
  display: grid;
  grid-area: 'contatos';
  justify-items: center;
  width: 34.5vw;
  height: 25vh;
  grid-template-areas: 
    'titulo'
    'contatosTexto';
}

.tituloCont {
  font-family: 'Montserrat', sans-serif;
  color: #58595b;
  padding-right: 2vw;
  justify-self: center;
  font-size: 2vw;
  font-weight: bolder;
}

.contatosTexto {
  display: grid;
  grid-area: 'conatosTexto';
  justify-items: center;
  align-content: start;
  grid-template-areas: 
    'email'
    'telefones';
}

.email {
  display: grid;
  grid-area: 'email';
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5vw;
  font-weight: bolder;
  line-height: 0px;
  color: #facdbb;
}

.telefones{
  display: grid;
  grid-area: 'telefones';
  justify-items: center;
  grid-template-areas: 'telefone1 telefone2';
}

.telefone1 {
  display: grid;
  grid-area: 'telefone1';
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5vw;
  font-weight: bolder;
  line-height: 0px;
  color: #facdbb;
}

.telefone2{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5vw;
  font-weight: bolder;
  line-height: 0px;
  color: #facdbb;
}


/* Responsividade */

@media (max-width: 1100px) {
  .logo img {
    padding-top: 45%;
  }
  .links {
    flex-direction: column;
    align-items: center;
  }
  .apagar {
    display: none;
  }
}
@media (max-width: 690px) {
  .top-box {
    font-size: 10px;
  }
  .logo img {
    height: 70px;
    padding-top: 45%;
    padding-left: 40%;
  }
  .linha {
    height: auto;
    padding-left: 25px;
  }
}
@media (max-width: 500px) {
  .top-box {
    font-size: 8px;
  }
  .logo img {
    height: 50px;
    padding-top: 45%;
    padding-left: 40%;
  }
  .linha {
    height: auto;
    min-height: 90px;
  }
}
@media (max-width: 360px) {
  .top-box {
    font-size: 6px;
  }
  .logo img {
    height: 40px;
    padding-top: 45%;
    padding-left: 40%;
  }
  .linha {
    height: auto;
    min-height: 60px;
    padding-left: 18px;
  }
}
